/*$primary: #9e9e9e;
$primary-dark: #707070;
$primary-light: #cfcfcf;*/
$primary: #90a4ae;
$primary-dark: #62757f;
$primary-light: #c1d5e0;
$primaryText: black;
$primary-lightText: black;
$primary-darkText: white;

$box-shading-color: rgba(0,0,0,.5);

body{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px minmax(200px,1fr) 300px;
  grid-template-areas:
  "....... header  login"
  "leftbar content rightbar";
  perspective: 800px;
}

.overlay{
  display:none;
  padding:10px;
  position:fixed;
  height:100%;
  width:100%;
  background-color: rgba($color: #000000, $alpha: 0.9);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  font-weight:bold;
  color:white;
}

.overlay #loginContainer{
  padding: 20px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;

  width: 300px;
  max-height: fit-content;

  margin-left: auto;
  margin-right:auto;
  margin-top:100px;

  font-family: sans-serif;
  font-size:16px;
  background-color: $primary-light;
  box-shadow: 3px 3px 10px $box-shading-color
}

.overlay #loginContainer input{
  background-color: $primary;
  border:none;
  border-bottom: solid 2px $primaryText;
  margin:5px;
  padding:3px;
}

.overlay #loginContainer button{
  background-color: $primary;
  border:none;
  padding:5px;
  margin:5px;
  box-shadow: 3px 3px 15px $box-shading-color;
  transition:0.1s;
  transform: translatez(1.5);
  font-size:16px;
  font-weight: bold;
}

.overlay #loginContainer a{
  color:$primaryText;
}

.overlay #loginContainer button:hover{
  background-color: $primary-dark;
  color:$primary-darkText;
  box-shadow: 1px 1px 5px $box-shading-color;
  transform: translatez(.5);;
}

.overlay #loginContainer button:active{
  background-color: $primary-dark;
  color:$primary-darkText;
  border:2px $primaryText;
  box-shadow: none;
  transform: none;
}

#tab-bar{
  grid-area: header;
  font-family: sans-serif;
  font-size: 18px;
  background-color: $primary;
}


#main-content{
  grid-area: content;
}

#login{
  grid-area: login;
  background-color: $primary;
  transition: 0.3s;
  padding: 14px 16px;
  font-size: 18px;
  font-family: sans-serif;
}

#login:hover{
  background-color: $primary-dark;
  color: $primary-darkText;
}

//Tab system

#tab-bar div {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  float: left;
}

#tab-bar div:hover {
  background-color: mix($primary,$primary-dark,33%);
}

#tab-bar div.active {
  color: $primary-darkText;;
  background-color: $primary-dark;
}

.accordian-wrapper{
  transform-style: preserve-3d;
  transition-duration: .3s;
  font-family: sans-serif;
  margin: 2px;
  border-radius: 10px 0px 0px 10px;
  width: 100%;
}

.accordian-wrapper:hover{
  transform: scale(1.006);
  box-shadow: 3px 3px 15px $box-shading-color;
}

.accordian-wrapper.active{
  transform: scale(1.004);;
  box-shadow: 2px 2px 10px $box-shading-color;
}

.accordian-wrapper.active:hover{
  transform: scale(1.006);
  box-shadow: 3px 3px 15px $box-shading-color;
}

.accordian-wrapper .accordian-head{
  font-weight: bold;
  font-size: 16px;
  margin: 0px;
  text-align: left;
  width:100%;
  background-color: $primary;
  border:none;
  border-radius: 10px 0px 0px 10px;
  padding: 5px 10px;
  outline: none;
  width:100%;
  cursor: pointer;
}

.accordian-wrapper:hover .accordian-head{
  color: $primary-darkText;
  background-color: mix($primary,$primary-dark,33%);
}

.accordian-wrapper.active:hover .accordian-head{
  color: $primary-darkText;
  background-color: mix($primary,$primary-dark,33%);
}

.accordian-wrapper.active .accordian-head{
  color: $primary-darkText;
  background-color: $primary-dark;
  border-radius: 10px 0px 0px 0px;
}

.accordian-wrapper .accordian-content{
  background-color:$primary-light;
  padding: 5px 10px;
  display: none;
  width:100%;
}

.accordian-wrapper.active .accordian-content{
  display: block;
  border-radius: 0px 0px 0px 10px;
}

.accordian-content.redditor ul{
  list-style-type: none;

  display: inline;
}

.accordian-content.redditor li{
  display: inline;
  background-color: $primary;
  padding: 3px;
  margin: 2px;
  border-radius: 2px;
}

.accordian-content.redditor li a{
  text-decoration: none;
  color: $primaryText;
}

.accordian-content.redditor li:hover{
  background-color: $primary-dark;
}

.accordian-content.redditor li:hover a{
  color: $primary-darkText;
}

.accordian-content.redditor li span{
  border: none;
  background-color: $primary-dark;
  color:$primary-darkText;
  margin: 5px 5px 5px 5px;
  padding: 2px;
  border-radius: 2px;
}

.accordian-content.redditor li:hover span{
  background-color: $primary;
  color: $primaryText;
}

.accordian-content.redditor li:hover span:hover{
  background-color: $primary-light;
  color: $primary-lightText;
}

.userModActions{
  width: 100%;
  margin:20px;
}

.needLoggedOn{
  display: none;
}

.needMod{
  display: none;
}